@import 'config';

body {
  background-color: #fdffeb;
}

h1 {
  font-size: 2*$font-size;
  margin: auto;
  margin-bottom: $margin-bottom;
  margin-top: $margin-top;
  text-align: center;
}

h2 {
  font-size: $font-size;
  margin: auto;
  text-align: center;
}

hr {
  border: dotted;
}

table {
  table-layout: fixed;
  word-break: break-word;
}

table,
th,
tr,
td {
  border: $pixill solid #000;
  border-collapse: collapse;
}

ul {
  margin-top: 0;
}
