@import 'config';

.grid {
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
}

.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  width: 100%;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: $i / $columns * 100%;
  }
}
