@import 'config';

.form {
  &-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.25*$margin-top;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-bottom;
  }

  &-fsz {
    font-size: $font-size;
  }

  &-check {
    margin: auto;
    margin-bottom: $margin-bottom;
  }

  &-width {
    border-radius: $border-radius;
    font-size: $font-size;
    height: $hunnid;
    margin: auto;
    margin-bottom: $margin-bottom;
    width: 3*$hunnid;
  }
}

.ul {
  &-center {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.table {
  &-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.25*$margin-top;
  }
}

.centered {
  margin: auto;
  text-align: center;
}

.red {
  &-back {
    background-color: rgb(255, 8, 0);
  }

  &-font {
    color: rgb(255, 8, 0);
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
